
.image-preview{
    width:100%;
    height: 24rem;
    border: 1px solid #d4d4d4
}
.left_menu{
    position: fixed;
    width: 15rem;
    margin: 1rem 0.5rem;
    height: calc(100% - 170px);
    overflow: auto;
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-left: 0.5rem;
  }
  h5{
      margin-top:1rem;
  }

}
.right_cont{
    margin-left: 15rem;
    // position: fixed;
    overflow: auto;
    margin-bottom: 5rem;
    height: calc(100% - 150px);
}

.st_prodList{
  a{
    color:#607d8b;
    border-left: 2px solid #efefef;
  }
}
.st_prodList.selected{
  border-left: 2px solid #0366d6;
  a{
    color:#0366d6;
  }
}
/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
  }
  
  /* 2. Make nav sticky */
  main > nav {
    position: sticky;
    top: 2rem;
    align-self: start;
  }
  
  /* 3. ScrollSpy active styles (see JS tab for activation) */
  .section-nav li.active > a {
    color: #333;
    font-weight: 500;
  }
  
  /* Sidebar Navigation */
  .section-nav {
    padding-left: 0;
    border-left: 1px solid #efefef;
  }
  
  .section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out; /* ?? This small transition makes setting of the active state smooth */
  }
  
  .section-nav a:hover,
  .section-nav a:focus {
    color: #666;
  }
  
  /** Poor man's reset **/
  * {
    box-sizing: border-box;
  }
  
  html, body {
    background: #fff;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-left: 0.75rem;
  }
  
  h1 {
    font-weight: 300;
  }
  
  /** page layout **/
  main {
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
  }
  
  /** enlarge the sections for this demo, so that we have a long scrollable page **/
  section {
    padding-bottom: 20rem;
  }

.variants-table .table-responsive {
  height: auto;
}
.detail-btns{
    // position: fixed;
    //bottom: 0;
    //right: 0px;
    //background-color: #f0f2f7;
    display: flex;
    padding: 1rem;
    align-items: center;
    //width: 83%;
    justify-content: center;
    z-index: 1;
    //box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0/ 12%);
}


.cust_line_btn {
  padding: 0.6rem 1rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  cursor: pointer;
}
.cust_line_btn.txt_blue:hover {
  border: 1px solid #1861ac;
}
.cust_line_btn.txt_red:hover {
  border: 1px solid #e01a76;
}
.txt_blue{
  color: #1861ac;
}
.txt_red{
  color: #e01a76;
}

.button-line.btn-primary{
  color: #1861ac !important;
  background-color: #fff !important;
  border: 1px solid #1861ac !important;
}
.button-line.btn-danger{
  color: #e01a76 !important;
  background-color: #fff !important;
  border: 1px solid #e01a76 !important;
}
.button-line.btn-primary:hover{
  background-color: #1565c026 !important;
}
.btn-primary {
 color: #fff;
 background-color: #1b6ec2;
 border-color: #1861ac;
}

.d-none {
 display: none !important;
}
.position-fixed{
  position: fixed;
}
.modal-content .close{
   border: none;
   color: #e01a76;
   font-size: 1.25rem;
   border-radius: 2rem;
   text-align: center;
   cursor: pointer;
   width: 2rem;
   height: 2rem;
   display: flex;
   justify-content: center;
}
.mat-form-field-infix {
  height: 45px;
}
